
      :root {
      --card-width: 200px;
      --card-height: 300px;
      --card-transition-duration: 800ms;
      --card-transition-easing: ease;
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }

    .containers1 {
      width: 100%;
      height: 100vh;
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), transparent), url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/080/267/original/1515607.jpg?1683129581);
      background-size: cover;
      background-position: center;
      padding: 0 8%;
      position: relative;
    }

    .navContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      right: 0;
      left: 0;
    }

    nav {
      display: flex;
      width: 90%;
      align-items: center;
      flex-wrap: wrap;
      padding: 5px 0;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    .logo {
      width: 250px;
      cursor: pointer;
    }

    .flight-icon {
      width: 30px;
      cursor: pointer;
      margin-left: auto;
    }

    nav ul {
      flex: 1;
      text-align: center;
      padding-right: 30px;
    }

    nav ul li {
      display: inline-block;
      list-style: none;
      margin: 10px 30px;
    }

    nav ul li a {
      text-decoration: none;
      color: #fff;
      position: relative;
    }

    nav ul li a::after {
      content: '';
      width: 0;
      height: 3px;
      background: #fff;
      position: absolute;
      left: 50%;
      bottom: -5px;
      transform: translateX(-50%);
      transition: width 0.3s;
    }

    nav ul li a:hover::after {
      width: 50%;
    }

    nav ul li a.active::after {
      width: 50%;
    }

    .text-box {
      color: #fff;
      position: absolute;
      bottom: 8%;
    }

    .text-box h1 {
      font-size: 150px;
      line-height: 160px;
      margin-left: -10px;
      color: transparent;
      -webkit-text-stroke: 1px #fff;
      background: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/080/268/original/back.png?1683129589);
      -webkit-background-clip: text;
      background-position: 0 0;
      animation: back 20s linear infinite;
    }

    @keyframes back {
      0% {
        background-position: 0 0;
      }

      100% {
        background-position: 2000px 0;
      }
    }

    .text-box p {
      font-size: 50px;
      font-weight: 600;
    }

    .text-box h3 {
      font-size: 20px;
      font-weight: 500;
    }

    .text-box a {
      color: #fff;
      text-decoration: none;
      padding: 10px 20px;
      margin-right: 20px;
      border: 2px solid #fff;
      display: flex;
      align-items: center;
    }

    .text-box .row {
      display: flex;
      align-items: center;
      margin-top: 30px;
      flex-wrap: wrap;
    }

    .text-box a span {
      font-size: 10px;
      line-height: 15px;
      margin-left: 5px;
    }

    .social-icons {
      position: absolute;
      right: 5%;
      bottom: 8%;
    }

    .social-icons img {
      width: 20px;
      margin: 20px 5px;
      display: block;
    }

    .containers2 {
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-position: center;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      background-image: url(https://images.pexels.com/photos/707670/pexels-photo-707670.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
    }

    .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .mainContainer {
      background: rgba(255, 255, 255, 0.32);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(7.8px);
      -webkit-backdrop-filter: blur(7.8px);
      height: 600px;
      width: 1050px;
      margin: 0 auto;
      margin-top: 50px;
      box-shadow: 0 0 10px #2323;
      display: flex;
    }

    .mainContainer>.menu {
      width: 75px;
      color: #3e3e3e;
      border-right: 1px solid rgba(62, 62, 62, 0.2);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 50px;
    }

    .mainContainer>.menu>.quote {
      width: 400px;
      height: 70px;
      color: rgba(62, 62, 62, 0.3);
      font-weight: bolder;
      font-size: 14px;
      letter-spacing: 5px;
      transform: rotate(-90deg);
      position: relative;
      top: 200px;
    }

    .mainContainer>.content {
      width: 350px;
    }

    .mainContainer>.content>.header {
      height: 120px;
      font-weight: 800;
      line-height: 1.2;
      font-size: 45px;
      letter-spacing: 3px;
      justify-content: flex-start;
      padding-left: 25px;
      color: #3e3e3e;
      margin-top: 20px;
    }

    .mainContainer>.content>.info {
      padding: 20px 24px;
      height: 300px;
      font-size: 14px;
      font-weight: bolder;
      line-height: 2.2em;
      font-family: 'Raleway', sans-serif;
      letter-spacing: 2px;
    }

    .jap {
      height: 30px;
      padding-left: 25px;
      font-weight: bolder;
      font-size: 16px;
      color: #bc002d;
      font-family: 'Raleway', sans-serif;
      letter-spacing: 2px;
    }

    .mainContainer>.content>.flag {
      height: 50px;
      position: relative;
      top: 56px;
      display: flex;
      align-items: center;
    }

    .mainContainer>.content>.flag>img {
      margin-left: 25px;
      height: 40px;
      box-shadow: 0 0 10px #2323;
    }

    .mainContainer>.content>.flag>span {
      margin-left: 15px;
      font-weight: bolder;
      font-size: 12px;
      color: #bc002d;
      letter-spacing: 2px;
    }

    .imgHold {
      height: 600px;
      width: 550px;
      overflow: hidden;
    }

    .imgAffiche {
      height: 600px;

    }

    .footer {
      width: 70px;
      flex-direction: column;
      justify-content: center;
      color: white;
    }

    .footer>i {
      font-size: 18px;
      padding-top: 18px;
      font-weight: bolder;
    }


    #radios {
      position: relative;
      margin: 0 auto;
    }

    input[type="radio"] {
      position: absolute;
      display: none;
    }

    label {
      display: flex;
      width: 18px;
      height: 18px;
      background: rgba(255, 255, 255, .2);
      border-radius: 50%;
      cursor: pointer;
      margin-top: 3px;

    }

    #contentSlider {
      position: absolute;
      top: 0%;
      width: 12px;
      height: 12px;
      margin: 7px 0 0 3px;
      background: #fff;
      transition: transform 1s;
      border-radius: 50%;
      animation-timing-function: ease-in-out;
      animation-duration: .3s;
      animation-fill-mode: forwards;
      transition: 0.2s top .05s ease-in-out;
    }

    #input1:checked~#contentSlider {
      animation-name: input1;
      top: 0;
    }

    #input2:checked~#contentSlider {
      animation-name: input2;
      top: 20%;
    }

    #input3:checked~#contentSlider {
      animation-name: input3;
      top: 40%;
    }

    #input4:checked~#contentSlider {
      animation-name: input4;
      top: 60%;
    }

    #input5:checked~#contentSlider {
      animation-name: input5;
      top: 80%;
    }

    @keyframes input1 {

      30%,
      70% {
        transform: scale(0.5);
      }
    }

    @keyframes input2 {

      30%,
      70% {
        transform: scale(0.5);
      }
    }

    @keyframes input3 {

      30%,
      70% {
        transform: scale(0.5);
      }
    }

    @keyframes input4 {

      30%,
      70% {
        transform: scale(0.5);
      }
    }

    @keyframes input5 {

      30%,
      70% {
        transform: scale(0.5);
      }
    }


    .boxFood {
      width: 700px;
      height: 630px;
      /* background: #3e3e3e;  */
      margin: 100px auto;
      display: flex;
      flex-direction: column;
    }

    .containers3 {
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-position: center;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      background-image: url(https://images.unsplash.com/photo-1518146172696-7a1975ca03e0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8ZGFyayUyMGphcGFufGVufDB8fDB8fA%3D%3D&w=1000&q=80);
    }

    .containers3 h2, p {
      color: #fff;
    }

    .containers3 .bloc {
      height: 70px;
      margin: 5px;
      border-radius: 25px;
      background: rgba(255, 255, 255, 0.32);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(7.8px);
      -webkit-backdrop-filter: blur(7.8px);
      flex-grow: 1;
      transition: flex-grow 0.4s ease-out;
      position: relative;
      overflow: hidden;
    }

    .containers3 .bloc:hover {
      cursor: pointer;
    }

    .containers3 .active {
      flex-grow: 10000;
    }

    .containers3 .active:hover {
      cursor: default;
    }

    .containers3 .bloc * {
      pointer-events: none;
    }

    .containers3 .bloc-haut {
      height: 70px;
      /* background: #000; */
      display: flex;
      align-items: center;
    }

    .containers3 .rond {
      margin-left: 20px;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(to right, #fff, #F3F3F3);
      border-radius: 50%;
    }

    .containers3 .rond img {
      width: 40px;
    }

    .containers3 .bloc .ligne {
      width: 60%;
      height: 1px;
      border-radius: 2px;
      background: #fff;
      margin: 0 5px 0 auto;
    }

    .containers3 .titre-section {
      margin: 0 25px;
      font-size: 30px;
    }

    .containers3 .dot {
      font-size: 22px;
      margin: 0 18px 0 10px;
      font-weight: bold;
    }

    .containers3 .contenu {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .containers3 .contenu img {
      width: 200px;
      margin-right: 30px;
      margin-left: 30px;
    }

    .containers3 .contenu p {
      width: 350px;
    }

    .containers3 .infos h2 {
      letter-spacing: 3px;
      margin-bottom: 10px;
    }

    .containers3 .infos p {
      line-height: 140%;
    }

    .containers3 .infos button {
      background: transparent;
      border: 1px solid #fff;
      padding: 10px 10px;
      margin-top: 10px;
      border-radius: 5px;
      font-size: 17px;
      pointer-events: auto !important;
    }

    .containers3.infos button:active {
      transform: scale(0.95);
    }

    .containers4 {
      width: 100%;
      height: 100vh;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    #culture {
      display: flex;
      background-color: #031625;
    }

    #culture:hover .tl-item {
      width: 23.3333%;
    }

    .tl-item {
      transform: translate3d(0, 0, 0);
      position: relative;
      width: 25%;
      height: 100vh;
      min-height: 600px;
      color: #fff;
      overflow: hidden;
      transition: width 0.5s ease;
    }

    .tl-item:before,
    .tl-item:after {
      transform: translate3d(0, 0, 0);
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    .tl-item:after {
      background: rgba(3, 22, 37, 0.85);
      opacity: 1;
      transition: opacity 0.5s ease;
    }

    .tl-item:before {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 75%);
      z-index: 1;
      opacity: 0;
      transform: translate3d(0, 0, 0) translateY(50%);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .tl-item:hover {
      width: 30% !important;
    }

    .tl-item:hover:after {
      opacity: 0;
    }

    .tl-item:hover:before {
      opacity: 1;
      transform: translate3d(0, 0, 0) translateY(0);
      transition: opacity 1s ease, transform 1s ease 0.25s;
    }

    .tl-item:hover .tl-content {
      opacity: 1;
      transform: translateY(0);
      transition: all 0.75s ease 0.5s;
    }

    .tl-item:hover .tl-bg {
      filter: grayscale(0);
    }

    .tl-content {
      transform: translate3d(0, 0, 0) translateY(25px);
      position: relative;
      z-index: 1;
      text-align: center;
      margin: 0 1.618em;
      top: 55%;
      opacity: 0;
    }

    .tl-content h1 {
      text-transform: uppercase;
      color: #bc002d;
      font-size: 1.44rem;
      font-weight: 800;
      padding-bottom: 10px;
    }

    .tl-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 1;
    }

    .tl-title p {
      font-size: 1.728rem;
      line-height: 1.75;
    }

    .tl-bg {
      transform: translate3d(0, 0, 0);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-size: cover;
      background-position: center center;
      transition: filter 0.5s ease;
      filter: grayscale(100%);
      backdrop-filter: blur(7.8px);
      -webkit-backdrop-filter: blur(7.8px);
    }

    .CSSgal {
      position: relative;
      overflow: hidden;
      height: 100%;
      /* Or set a fixed height */
    }

    /* SLIDER */

    .CSSgal .slider {
      height: 100%;
      white-space: nowrap;
      font-size: 0;
      transition: 0.8s;
    }

    /* SLIDES */

    .CSSgal .slider>* {
      font-size: 1rem;
      display: inline-block;
      white-space: normal;
      vertical-align: top;
      height: 100%;
      width: 100%;
      background: none 50% no-repeat;
      background-size: cover;
    }

    /* PREV/NEXT, CONTAINERS & ANCHORS */

    .CSSgal .prevNext {
      position: absolute;
      z-index: 1;
      top: 50%;
      width: 100%;
      height: 0;
    }

    .CSSgal .prevNext>div+div {
      visibility: hidden;
      /* Hide all but first P/N container */
    }

    .CSSgal .prevNext a {
      background: #fff;
      position: absolute;
      width: 60px;
      height: 60px;
      line-height: 60px;
      /* If you want to place numbers */
      text-align: center;
      opacity: 0.7;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 0;
    }

    .CSSgal .prevNext a:hover {
      opacity: 1;
    }

    .CSSgal .prevNext a+a {
      left: auto;
      right: 0;
    }

    /* NAVIGATION */

    .CSSgal .bullets {
      position: absolute;
      z-index: 2;
      bottom: 0;
      padding: 10px 0;
      width: 100%;
      text-align: center;
    }

    .CSSgal .bullets>a {
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-decoration: none;
      text-align: center;
      background: rgba(255, 255, 255, 1);
      -webkit-transition: 0.3s;
      transition: 0.3s;
    }

    .CSSgal .bullets>a+a {
      background: rgba(255, 255, 255, 0.5);
      /* Dim all but first */
    }

    .CSSgal .bullets>a:hover {
      background: rgba(255, 255, 255, 0.7) !important;
    }

    /* NAVIGATION BUTTONS */
    /* ALL: */
    .CSSgal>s:target~.bullets>* {
      background: rgba(255, 255, 255, 0.5);
    }

    /* ACTIVE */
    #s1:target~.bullets>*:nth-child(1) {
      background: rgba(255, 255, 255, 1);
    }

    #s2:target~.bullets>*:nth-child(2) {
      background: rgba(255, 255, 255, 1);
    }

    #s3:target~.bullets>*:nth-child(3) {
      background: rgba(255, 255, 255, 1);
    }

    #s4:target~.bullets>*:nth-child(4) {
      background: rgba(255, 255, 255, 1);
    }

    /* PREV/NEXT CONTAINERS VISIBILITY */
    /* ALL: */
    .CSSgal>s:target~.prevNext>* {
      visibility: hidden;
    }

    /* ACTIVE: */
    #s1:target~.prevNext>*:nth-child(1) {
      visibility: visible;
    }

    #s2:target~.prevNext>*:nth-child(2) {
      visibility: visible;
    }

    #s3:target~.prevNext>*:nth-child(3) {
      visibility: visible;
    }

    #s4:target~.prevNext>*:nth-child(4) {
      visibility: visible;
    }

    /* SLIDER ANIMATION POSITIONS */

    #s1:target~.slider {
      transform: translateX(0%);
      -webkit-transform: translateX(0%);
    }

    #s2:target~.slider {
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
    }

    #s3:target~.slider {
      transform: translateX(-200%);
      -webkit-transform: translateX(-200%);
    }

    #s4:target~.slider {
      transform: translateX(-300%);
      -webkit-transform: translateX(-300%);
    }


    .CSSgal .slideLink {
      border-radius: 50%;
      margin: 0 3px;
      color: rgba(0, 0, 0, 0.8);
      text-decoration: none;
    }
  /* Media Queries */
@media screen and (max-width: 320px) {
  /* Navigation */
  nav {
    flex-direction: column;
    gap: 15px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  /* Section 1 */
  .text-box h1 {
    font-size: 2.5rem;
  }

  .row {
    flex-direction: column;
  }

  /* Section 2 */
  .mainContainer {
    display: flex;
    flex-direction: column;
  }

  .content {
    width: 100%;
  }

  /* Section 3 */
  .bloc .contenu {
    padding: 10px;
  }

  .bloc .infos {
    padding: 10px;
  }

  /* Section 4 */
  .tl-item {
    min-height: 300px;
  }

  .tl-content {
    padding: 15px;
  }
}

@media screen and (max-width: 320px) {
  /* Navigation */
  nav .logo {
    width: 100px;
  }

  /* Section 1 */
  .text-box h1 {
    font-size: 2rem;
  }

  /* Section 2 */
  .header {
    font-size: 1.5rem;
  }

  .info {
    font-size: 0.9rem;
  }

  /* Section 3 */
  .bloc .contenu {
    padding: 5px;
  }

  .bloc h2 {
    font-size: 1.2rem;
  }

  /* Section 4 */
  .tl-item {
    min-height: 250px;
  }

  .f2 {
    font-size: 1.5rem;
  }

  .f3 {
    font-size: 1.2rem;
  }
}

/* Slider responsiveness */
.CSSgal {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.slider {
  height: 100%;
  white-space: nowrap;
  font-size: 0;
  transition: 0.8s;
}

.slider > * {
  position: relative;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

/* General responsive utilities */
.img-fluid {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 320px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 320px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
